<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Quality</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Select Video Quality</h1>
    <ul>
        <% formats.forEach(format => { %>
            <li>
                <a href="/download?url=<%= url %>&quality=<%= format.itag %>">
                    <%= format.qualityLabel %> - <%= format.container %>
                </a>
            </li>
        <% }); %>
    </ul>
    <a href="/">Back</a>
</body>
</html>
